<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企業一覧画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>企業一覧</h1>

<div class="container">
    <div class="row">
        <div class="my-div-style w-100">

        </div>
    </div>
</div>
<div class="row" style="margin-left:0rem;">
    <a name="register" href="{% url 'ReportOfExam:company_register' %}"><button type="button" class="btn btn-primary " style="margin-right:0.5rem;">企業登録</button></a>
    <form method="post">
    {% csrf_token %}
    <a name="tag_register" href="{% url 'ReportOfExam:tag_register' %}"><button class="btn btn-primary" name="tag_register" value="tag_register">タグ登録</button></a>

    </form>
</div>


<form action="" method="get" style="margin-bottom:1rem;">
    <input name="query" value="{{ request.GET.query }}" type="text">
    <button class="btn btn-info" type="submit">検索する</button>
</form>


{% for company in object_list %}
<div class="post-preview">
    <a href="{% url 'ReportOfExam:company_detail' company.id %}">
        <h4 class="post-title">
            {{ company.company_name }}
        </h4>
        <h7 class="post-subtitle">
            {{ company.kana_name }}  &ensp;  {{ company.locate }}   &ensp; {{company.address_number }}
        </h7>
    </a>
</div>
<hr>
{% empty %}
<p>一致するものはありません。</p>
{% endfor %}
</body>
{% endblock %}
</html>