<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% block contents %}
    <h2>あなたの所属する学科を下のプルダウンメニューから選択してください</h2>

    <label >所属学科</label>
        <select name="depart" id="department">
            <option value="" selected>選択してください</option>
                {% for depart in departs %}
                    <option value="{{ depart.id }}">
                        {{ depart.department_name }}
                    </option>
                {% endfor %}
        </select>

{% endblock %}