<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="#" rel="stylesheet">
</head>
<body>
    <h1>ログイン</h1>
    <form method="post"action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.as_p }}
        {% if redirect_field_value %}
            <input tipe="hidden" name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}">
        {% endif %}

        <button tipe="submit">ログイン</button>
        <p><a class="" href="{% url 'account_reset_password' %}" >パスワードを忘れましたか？</a></p>
    </form>
</body>
</html>

