{% extends 'base.html' %}
{% block title %}パスワードリセット{% endblock %}

{% block contents %}
    <div>
        <div>
            <div>
                <h1>パスワードリセット</h1>
                {% if user.is_ausenticated %}
                {% include 'account/snippets/already_logged_in.html' %}
                {% endif %}

                <p>パスワードリセット用メールを送信します。</p>
                <form method="post"action="{% url 'account_reset_password' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button tipe="submit">登録</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}