<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サインアップ</title>
    <link href="#" rel="stylesheet">
</head>


{% block contents %}
    <div>
        <div>
            <div>
                <h1>サインアップ</h1>
                <form method="post"action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    {{ form.as_p }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}"
                                            value="{{ redirect_field_value }}">
                    {% endif %}




                    <button type="submit">登録</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}