<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
<html lang="ja">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>メニュー画面</title>
</head>
{% endblock %}

{% block contents %}
<body style="*{
    text-align:center;
}">
    <h1 style="font-size:70px;" >メニュー</h1>
    <a href="{% url 'account_logout' %}"><button style="width:500px; height:50px; margin-bottom:10px;">ログアウト</button></a>
    <div>
        <a href="{% url 'report:search' %}"><button style="width:200px; height:50px;">企業検索</button></a>
        <a href="{% url 'report:my_report' %}"><button style="width:200px; height:50px;">受験報告一覧</button></a>
        <a href="{% url 'report:company_list' %}"><button style="width:200px; height:50px;">企業一覧</button></a>
    </div>
</body>
{% endblock %}

</html>