<!DOCTYPE html>
<br lang="ja">
<head>
    <meta charset="UTF-8">
    <title>受験報告詳細画面</title>
</head>
<br>
    <h1>受験報告詳細</h1>

    <br>
        <th>氏名</th>
        <th>{{ detail_report.report_user }}</th>
    </br>

    <br>
        <th>企業名</th>
        <th>{{ detail_report.company_name }}</th>
    </br>

    <br>
        <p>PDFどうやるん</p>
    </br>

    <br>
        <a href="{% url 'report:edit_report' %}"><button type="submit">編集</button></a>
        <a href="{{ request.META.HTTP_REFERER }}"><button>戻る</button></a>
    </br>
</body>
</html>