<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="ja">
    {% block header %}
    <head>
        <meta charset="UTF-8">
        <title>受験報告登録画面</title>
    </head>
    {% endblock %}

    {% block contents %}
    <body>
        <h1>受験報告登録</h1>
        <div class="container">
            <div class="row">
                <div class="my-div-style w-100">
                    <div>
                        <form method="post" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <table class="table">
                                {{ form.as_table }}
                            </table>
                            <a href="{% url 'report:my_report' %}"><button type="submit" style="margin-right:1rem;">登録</button></a>
                            <a href="{{ request.META.HTTP_REFERER }}"><button style="margin-right:1rem;">戻る</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>