<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業詳細画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>企業詳細</h1>
<table border="1" style="margin-bottom:1rem;">
    <tr>
        <th>企業名</th>
        <td>{{ company_detail.company_name }}</td>
    </tr>

    <tr>
        <th>企業名（カナ）</th>
        <td>{{ company_detail.kana_name }}</td>
    </tr>

    <tr>
        <th>所在地</th>
        <td>{{ company_detail.locate }}</td>
    </tr>

    {% if tag_name1.tag_name %}
    <tr>
        <th>タグ</th>
        <td>{{ tag_name1.tag_name }}</td>
    </tr>
    {% endif %}

    {% if tag_name2.tag_name %}
    <tr>
        <th>タグ</th>
        <td>{{ tag_name2.tag_name }}</td>
    </tr>
    {% endif %}

    {% if tag_name3.tag_name %}
    <tr>
        <th>タグ</th>
        <td>{{ tag_name3.tag_name }}</td>
    </tr>
    {% endif %}

    <tr>
        <th>推奨資格</th>
        <td></td>
    </tr>
</table>

<table border="1">
    <tr>
        <th>タイトル</th>
        <th>あいうえお</th>
    </tr>
    <tr>
        <td>タグ</td>
        <td>わー</td>
    </tr>
    <tr>
        <td>わー</td>
    </tr>
    <tr>
        <td>わー</td>
    </tr>
    <tc
</table>

<div>
    <a href="{% url 'report:offer_register' pk %}"><button class="btn btn-primary">求人票登録</button></a>
    <a href="{% url 'report:offer_delete' pk %}"><button class="btn btn-danger">求人票削除</button></a>
    <a href="{% url 'report:company_list' %}"><button class="btn btn-secondary">戻る</button></a>
</div>
<div>{{ offers.offer_pdf }}</div>
</body>
{% endblock %}
</html>