<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <title>企業登録</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>企業登録</h1>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">

            <div>
            <form method="post" enctype="multipart/form-data" name="register_form">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-success" type="submit" style="margin-right:1rem;">登録</button>
            </form>

<form method="post">
    {% csrf_token %}
<p><a name="company"><button name="company" value="company" class="btn btn-primary">タグ登録</button></a></p>
</form>

<div>
    <a href="{% url 'report:company_list' %}"><button class="btn btn-secondary">戻る</button></a>
</div>

</body>
{% endblock %}
</html>