<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>求人票削除画面</title>
</head>
<body>
<h2>この求人票を削除しますか？</h2>
<div>
    <button>削除</button>
    <a href="{{ request.META.HTTP_REFERER }}"><button>戻る</button></a>
</div>
</body>
</html>