<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>タグ登録画面</title>
</head>
{% endblock %}

{% block contents %}
<body>
<h1>タグ登録</h1>



<div class="container">
    <div class="row">
        <div class="my-div-style w-100">

            <div>
            <form method="post" enctype="multipart/form-data" name="register_form">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <div class="row" >
                <button class="btn btn-success" type="submit" style="margin-right:1rem;">登録</button>
            </form>

            <form method="post" name="modoru"><a name="modoru">
                {% csrf_token %}
                <button class="btn btn-secondary" style="" name="modoru" value="modoru">戻る</button></a>
            </div>
            </form>

        </div>
    </div>
    <div class="column" style="margin-top:1rem;">
        <h6>タグ一覧</h6>
            {% for tag in tags %}
            <div>・{{ tag.tag_name }}</div>
            {% endfor %}
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'report:tag_delete' %}" name="tag_del"><button class="btn btn-danger" name="tag_del" value="tag_del">タグ削除</button></a>
        </form>
    </div>
</div>
</body>

{% endblock %}
</html>