<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>受験報告編集画面</title>
</head>
{% endblock %}

{% block body %}
<body>

    <h1>受験報告編集</h1>

    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit">確定</button>
        <button type="button"><a href="{% url 'ReportOfExam:details_report' object.pk %}">キャンセル</a></button>
    </form>
</body>
{% endblock %}
</html>