<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="ja">
    {% block header %}
    <head>
        <meta charset="UTF-8">
        <title>受験報告一覧画面</title>
    </head>
    {% endblock %}

    {% block contents %}
    <body class="body">
        <h1>自分の受験報告一覧</h1>
        <br>
            <div class="btn_gp">
                <a href="{% url 'ReportOfExam:register_report' %}"><button type="submit">新規登録</button></a>
                <a href="{#}"><button>戻る</button></a>
            </div>
        </br>

        <div>
        {% for report in report_list %}
            <table border="1" cellpadding="10" class="table_bg set_center" width="80%" style="margin-bottom:10px; margin-left:5rem;">
                <div class="report">
                    <br>
                        <th width="100" height="150">受験報告</th>
                        <td>{{ report.report_pdf }}</td>
                    </br>
                </div>
            </table>
        {% empty %}
            <p>need to create report</p>
        {% endfor %}

                <!-- ページネーション処理　-->
        {% if is_paginated %}
        <ul class="pagination set_center">
            <!--前ページへのリンク-->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% endif %}

            <!--　ページ数表示　-->
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            <!-- 次㌻へのリンク --->

            {% if page_obj.has_next %}
            <li class="page-item" >
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        </div>

    </body>
    {% endblock %}
</html>